@font-face {
  font-family: Sahel;
  src: url('./Default/index.eot');
  src: url('./Default/index.eot?#iefix') format('embedded-opentype'),
    url('./Default/index.woff2') format('woff2'),
    url('./Default/index.woff') format('woff'),
    url('./Default/index.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('./Bold/index.eot');
  src: url('./Bold/index.eot?#iefix') format('embedded-opentype'),
    url('./Bold/index.woff2') format('woff2'),
    url('./Bold/index.woff') format('woff'),
    url('./Bold/index.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('./Light/index.eot');
  src: url('./Light/index.eot?#iefix') format('embedded-opentype'),
    url('./Light/index.woff2') format('woff2'),
    url('./Light/index.woff') format('woff'),
    url('./Light/index.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Sahel;
  src: url('./SemiBold/index.eot');
  src: url('./SemiBold/index.eot?#iefix') format('embedded-opentype'),
    url('./SemiBold/index.woff2') format('woff2'),
    url('./SemiBold/index.woff') format('woff'),
    url('./SemiBold/index.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Sahel;
  src: url('./Black/index.eot');
  src: url('./Black/index.eot?#iefix') format('embedded-opentype'),
    url('./Black/index.woff2') format('woff2'),
    url('./Black/index.woff') format('woff'),
    url('./Black/index.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Sahel VF';
  src: url('./VF/index.woff2') format('woff2');
}

/* 
  * Usage
  ? font-family: 'Sahel', sans-serif;
*/
